[submodule "submodules/external/waf"]
	path = submodules/external/waf
	url = https://gitlab.com/ita1024/waf.git
[submodule "submodules/external/googletest"]
	path = submodules/external/googletest
	url = https://github.com/google/googletest.git
